body { background-color: #D2B48C}

table {border-collapse: collapse;}
table, th, td {border: 1px solid blakc; }

input[readonly] {background-color:gray;}

.right {text-align: right;}
.add td {border: none; height:25px; padding: 10px; font-weight: bold; }

.update td {border: none; height:25px; padding: 10px; font-weight: bold; }