body { background-color: #D2B48C}

.wrap {text-align:center; width:90%; margin: 0 auto; border: 8px solid black; margin-top:25px;}
.header {background-color:tan; text-align:left; padding:25px;}
.main {background-color:pink; text-align:left; padding:25px;}
.footer {background-color:green; text-align:left; padding:25px;}

table {border-collapse: collapse;}
table, th, td {border: 1px solid blakc; }

input[readonly] {background-color:gray;}

.right {text-align: right;}
.add td {border: none; height:25px; padding: 10px; font-weight: bold; }

.update td {border: none; height:25px; padding: 10px; font-weight: bold; }

.navcontainer { margin-left: 30px; }

/*Fat Erik's Pipelist*/
.navlist
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navlist li
{
    display: inline;
    padding: 0;
    margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #navlist li
{
    border-left: 1px solid black;
    padding: 0 0.4em 0 0.4em;
    margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #navlist { height: 1%; }

* html #navlist li
{
    display: block;
    float: left;
}

/*End hide*/
/*Mac IE 5*/
* html #navlist li:first-child { border-left: 0; }